/* .main{
    display: flex;
    justify-content: center;align-items: center;
} */

.main-container {

    display: grid;
    grid-template-columns: 1fr 7fr;
    position: relative;
    top: 4.5rem;


}

.main {
    border: 1px solid black;
    margin: 0 !important;


}

pre {


    margin: 0 !important;

}

aside {
    position: relative;
    top: 0;
    width: 300px;

    margin-right: 25px;

}


.file-form-container .login-form button {
    width: 100px;
}

.file-form-container .login-form .textbox label {
    left: 0;
}

.file-form-container .login-form .textbox {
    width: 300px !important;
}

.file-form-container .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20PX 70px;
}

.file-form-container {
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.file-form-container .login-form .textbox :is(input:focus, input:valid)~label {
    translate: 0px -40px;
    scale: 0.875;
}


.product-img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.product-img-container {
    display: flex;
    flex-direction: row;
}

.product-container button {
    background-image: url("../Assets/background.svg");
    width: 50%;
    color: black;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0 30px 5px;
    padding: 0px 20px;
}