
   li, li button{
    margin: 10px;
    font-size: 20px;
    list-style: none;
    padding:0 0 5px;
    color: #fff;
   }
  

    /* .subMenu{    transition: all 0.85s;} */

   .subMenuShow{
    opacity: 1;
    transition: all 0.85s;
    /* display: block; */

   }
.subMenuClose{
  opacity: 0;
  height: 0;
  transition: all 0.85s;
  /* display: none; */

}
 